.side-text-slide.align-Right .side-text-image {
    float: right;
}

.side-text-image img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.side-text-slide.row {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
}

#formfield-collective-tiles-storytelling-sidetextslide-selected_image {
    .mce-menubar {
        display: none;
    }

    .mce-toolbar-grp {
        .mce-flow-layout > div:not(:last-child) {
            display: none;
        }

        .mce-flow-layout > div:last-child > div > div:not(:last-child) {
            display: none;
        }
    }
}