.side-text-slide.align-Right .side-text-image {
    float: right;
}

.side-text-image img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.side-text-slide.row {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
}

#formfield-collective-tiles-storytelling-sidetextslide-selected_image,
#formfield-collective-tiles-storytelling-fullscreenslide-selected_image {
    .mce-menubar {
        display: none;
    }

    .mce-toolbar-grp {
        .mce-flow-layout > div:not(:last-child) {
            display: none;
        }

        .mce-flow-layout > div:last-child > div > div:not(:last-child) {
            display: none;
        }
    }
}

.fullscreen-slide-wrapper {
    position: relative;

    .fullscreen-sticky-image {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        width: 100%;

        height: 100vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: translateZ(0);

        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;

        z-index: 1;
        @media(min-width: 1024px) {
            background-attachment: fixed;
        }
    }

    .fullscreen-sticky-gradient-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(46, 46, 46, 0) 0%, #242424 130%);
        background-repeat: repeat-x;
        opacity: 0.9;
        z-index: 1;
    }

    .fullscreen-text-body {
        max-width: 75%;
        margin: 0 auto;
        color: #ffffff;
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 40px;
        padding-right: 40px;
        z-index: 100;
        position: relative;

        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: translateZ(0);

        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;

        @media(max-width: 767px) {
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 25px;
            padding-right: 25px;
            width: 100%;
            max-width: 100%;
        }
    }
}



html.safari .fullscreen-slide-wrapper {
    .fullscreen-sticky-image {
        @media(min-width: 1024px) {
            background-attachment: scroll;
        }
    }
}

.text-slide-wrapper.col-xs-12 {
    position: relative;
    z-index: 1000;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;

    min-height: 110vh;
    margin: 0 0 3em;
    padding: 3em;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    @media (max-width: 767px) {
        height: 100vh;
        min-height: auto;
        padding: 1em;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

body.template-edit.mosaic-layout-customized {
    .fullscreen-sticky-image {
        height: 65vh;
        position: relative;
        background-attachment: none;
    }

    .fullscreen-text-body {
        position: absolute;
        bottom: 0;
    }

    .text-slide-wrapper.col-xs-12 {
        min-height: 65vh;
    }
}


.video-slide {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-left: 0px;
    margin-right: 0px;
    
    &.align-Right {
        .video-text-body {
            float: right;
        }
    }

    .video-text-body {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

